.vscode
Build
*.o
catFile

# CMake cache and files
CMakeCache.txt
CMakeFiles
cmake_install.cmake
CTest*
Testing
Makefile
build

Main/SQL/source/Parser.c
Main/SQL/source/Parser.h
Main/SQL/source/Lexer.c